# Игнорировать виртуальные окружения
venv/
.env/

# Игнорировать pycache и компилированные файлы
__pycache__/
*.py[cod]
*$py.class

# Игнорировать настройки IDE
.idea/
.vscode/

# Игнорировать данные и логи
*.log
*.csv

# Игнорировать файлы модели
*.pkl

# Игнорировать временные файлы
*.tmp
